body{
 
    font-family: 'Noto Sans JP', sans-serif;
}
.first-one{

    color: coral;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    padding-left: 2%;
}

.half-width img{

    width: 100%;
    
}


section{
    height: 500px;
}

.button-change{
text-decoration: none;
background-image: linear-gradient(45deg, rgb(190, 64, 50) tomato);
padding: 10px 20px;
border-radius: 5px;
color: white;
font-weight: 700px;
}
.space-dao{
    margin: 10%;
}
.border-dibo{
    box-shadow: 10px 10px 40px grey;
    height: 60%;
    border-radius: 5px;

}
#first-dao{

    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
   
#secomd-dao{

    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
}